{{- range $key, $value := .Values.docs }}
{{- with $ -}}
{{- if $value.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $key }}-offline-docs
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: {{ $key }}-offline-docs
{{- end }}
{{- end }}
{{- end }}
