# Default values for ..
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  cattle:
    systemDefaultRegistry: "rgcrprod.azurecr.us"
defaults:
  containerPort: 8080
  uid: 65532
  image:
    tag: "0.1.1"
docs:
  kubernetes:
    enabled: true
    image:
      name: "carbide/kubernetes-cncf-docs"
      # tag: "0.1.1"
  rancher:
    enabled: true
    image:
      name: "carbide/rancher-docs"
      # tag: "0.1.1"
  rke2:
    enabled: true
    image:
      name: "carbide/rke2-docs"
      # tag: "0.1.1"
  k3s:
    enabled: true
    image:
      name: "carbide/k3s-docs"
      # tag: "0.1.1"
  neuvector:
    enabled: true
    image:
      name: "carbide/neuvector-docs"
      # tag: "0.1.1"
  fleet:
    enabled: true
    image:
      name: "carbide/fleet-docs"
      # tag: "0.1.1"
  longhorn:
    enabled: true
    image:
      name: "carbide/longhorn-docs"
      # tag: "0.1.1"
  kubewarden:
    enabled: true
    image:
      name: "carbide/kubewarden-docs"
      # tag: "0.1.1"
  carbide:
    enabled: true
    image:
      name: "carbide/carbide-docs"
      # tag: "0.1.1"
  elemental:
    enabled: true
    image:
      name: "carbide/elemental-docs"
      # tag: "0.1.1"
  harvester:
    enabled: true
    image:
      name: "carbide/harvester-docs"
      # tag: "0.1.1"
  rancherdesktop:
    enabled: true
    image:
      name: "carbide/rancher-desktop-docs"
      # tag: "0.1.1"
image:
  repository: carbide/k3s-docs
  tag: 0.1.2
